@font-face{
    font-family: 'myFont';
    src: url("./byxs7000.woff") format('woff'),
        url("./byxs7000.woff2")format('woff2');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color:red;
    font-family: 'myFont';
    /*background: url('./WP.png');*/
}